.bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

@media (min-width: 768px) {
    .bd-placeholder-img-lg {
        font-size: 3.5rem;
    }
}
.jumbotron {
    background-color: #013B17;
    height: 600px;

}
#navbar {
    background-color: #013B17 !important;
    color: white;
    float: right;
}

#topmenu ul {
    color: white ;
    float: right !important;
    background-color: red;
}

.jumbotron .container{
    margin-top: 8%;
    width: 50%;
    margin-right: 40%;
    background-color: red;
}
#searchBox {
    width: 50%;
}

#videoStat {
    width: 320px !important;
}

.searchbox{
    margin-top: 130px;
    margin-right: 100rem;
}

#suggestedVideoMenu {
    float: right;
    margin-top: -210px;
    height: 700px;
    width: 23rem;
    background-color: red;
    overflow-y: auto;
}

#my-video {
    margin-left: 11rem;
    height: 25rem;
    width: 50rem;
}

.like-dislike-playlistbtn {
    width: 50rem;
    margin-left: 11rem !important;
    background-color: grey;
}

.like-dislike-playlistbtn  span {
    margin: 20px;
    font-size: 1rem;
    color: #3B0125;
}

.like-dislike-playlistbtn  a {
    color: #013B17;
    padding:10px;
}
#playlist {
    float: right;
    margin-top: -3.5px;
}
.videodescription{
    width: 50rem;
    margin-left: 11rem;

}